<div id="taskModal" class="modal">
    <div class="modal-content">
      <span class="taskClose">&times;</span>
      <h3 style="margin-left: 10px;" id="taskTitle">Create Task</h3>
      <form id="task">
        <div class="row" style="justify-content: flex-start;">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Please enter name">
                </div>
                <div class="form-group" style="margin-top: 5px;">
                    <label class="col-form-label">Description</label>
                    <input type="text" name="description" class="form-control form-control-lg" placeholder="Please enter description">
                </div>
                <div style="margin-top: 5px;">
                    <button class="btn btn-sm btn-radius btn-primary" id='btnTask'>Submit</button>
                </div>
            </div>
        </div>
    </form>
    </div>
  </div>
  <script>    
    $(document).ready(function () {
        let task =  JSON.parse(`<%-JSON.stringify(taskfetch)%>`)
      let url='/create-task'
      if(task){
           editTask(task)
          url="/task/editbyid"
      }
      $("#task").validate({
          rules: {
              name: {
                  required: true,
              },
              description: {
                  required: true,
              },
          },
          //For custom messages
          messages: {
              name: {
                  required: "name is required.",
              },
              description: {
                  required: "description is required.",
              },
          },
          errorPlacement: function (error, element) {
              let placement = $(element).data('error');
              if (placement) {
                  $(placement).append(error)
              } else {
                  error.insertAfter(element);
              }
          },
          invalidHandler: function (form, validator) {
              console.log(validator.errorMap);
          },
          submitHandler: function (form) {
              const formData = new FormData(form);
              if(task){formData.append('id',task.id)}
              $.ajax({
                  url: url,
                  type: "POST",
                  data: formData,
                  contentType: false,
                  cache: false,
                  processData: false,
                  success: function (res) {
                      if (res.success) {
                        taskModal.style.display = "none";
                        window.location.href = '/';
                        alert('task created succesffuly')
                      }
                      else {
                        taskModal.style.display = "none";
                        window.location.href = '/';
                        alert('Something went wrong', 'Unauthorized!');
                      }
                  },
              });
          }
      });
  });
  function editTask(data) {
        taskModal.style.display = "block";
        $('[name="name"]').val(data.name)
        $('[name="description"]').val(data.description)
        $("#btnTask").html('Save');
        $("#taskTitle").html('Edit Task');      
}
</script>