<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 style="margin-left: 10px;" id="taskTimer">Create Timer</h3>
        <form id="timer">
            <div class="row" style="justify-content: flex-start;">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input type="text" name="name" class="form-control form-control-lg"
                            placeholder="Please enter name">
                    </div>
                    <div class="form-group" style="margin-top: 5px;">
                        <label class="col-form-label">Author Name</label>
                    </div>
                    <select name="author" title="Please select author" style="width: 102%; height: 25px;"
                        id="authorhide">
                        <% author.forEach(function (author) { %>
                            <option value="<%=author.id%>">
                                <%=author.name%>
                            </option>
                            <% }) %>
                    </select>
                    <div class="form-group" style="margin-top: 5px;">
                        <label class="col-form-label">Task Name</label>
                    </div>
                    <select name="task" title="Please select author" style="width: 102%; height: 25px;" id="taskhide">
                        <% task.forEach(function (task) {%>
                            <option value="<%=task.id%>">
                                <%=task.name%>
                            </option>
                            <% }) %>
                    </select>


                    <div style="margin-top: 5px;">
                        <button class="btn btn-sm btn-radius btn-primary" id="btnTimer">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#timer").validate({
            rules: {
                name: {
                    required: true,
                },
                author: {
                    required: true,
                },
                task: {
                    required: true,
                },
            },
            //For custom messages
            messages: {
                name: {
                    required: "name is required.",
                },
                author: {
                    required: "author is required.",
                },
                task: {
                    required: "task is required",
                },
            },
            errorPlacement: function (error, element) {
                let placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            invalidHandler: function (form, validator) {
                console.log(validator.errorMap);
            },
            submitHandler: function (form) {
                const formData = new FormData(form);
                const id = formData.get('id');
                $.ajax({
                    url: id ? "/timer/editbyid" : '/create-timer',
                    type: "POST",
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (res) {
                        console.log("KKKKKKKKKK",res)
                        if (res.success) {
                            if (id) {
                                table.rows().every(function (a, b, c) {
                                    let data = this.data()
                                    if (data[0] == id) {
                                        data[1] = res.timer.name
                                        this.data(data).draw(false)
                                    }
                                })
                            } else {
                                table.row.add([
                                    res.timer.id,
                                    res.timer.name,
                                    res.timer.author,
                                    res.timer.task,
                                    `  <span>${res.timer.hours < 10 ? '0' + res.timer.hours : res.timer.hours}</span> :
                                    <span>${res.timer.minutes < 10 ? '0' + res.timer.minutes : res.timer.minutes}</span> :
                                    <span>${res.timer.seconds < 10 ? '0' + res.timer.seconds : res.timer.seconds}</span>`,
                                    ` <button class="btn-primary btn-radius" data-start="true" data-id="${res.timer.id}" onclick="startTimer(this)">Start</button>`,
                                    ` <img src="/images/icons8-edit-30.png" onclick="editTimer('${res.timer.id}',this)" data-timerid="${res.timer.id}" class="icontable" title="Edit" alt="">
                                    <img src="/images/icons8-delete-30.png" onclick="deleteTimer('${res.timer.id}',this)" class="icontable" title="Delete" alt="">`,
                                ]).draw(false);
                            }
                            modal.style.display = "none";
                            alert('author created succesffuly')
                        }
                        else {
                            modal.style.display = "none";
                            window.location.href = '/timer';
                            alert('Something went wrong', 'Unauthorized!');
                        }
                    },
                });
            }
        });
    });
</script>